<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<dom-module id="td-projectchooser">
  <template>
    <style>
    #projectSearchDialog {
      width: 90%;
    }
    </style>
    <paper-dialog raised id="projectSearchDialog" on-iron-overlay-opened="patchOverlay" role="dialog" class="paper-dialog" with-backdrop always-on-top>

      <paper-input id="filterInput" label="Поиск проекта по названию" on-keyup="searchKeyUp"></paper-input>

      <paper-dialog-scrollable>
        <paper-listbox id="filterResults">
          <template is="dom-repeat" items="{{projectSearchResults}}">
            <paper-item on-focused-changed="itemFocusedChanged" item-id='[[item.id]]' item-name='[[item.name]]' on-tap="choose">[[item.name]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dialog-scrollable>

  </paper-dialog>


  </template>

  <script>
    var TDProjectChooser = Polymer({
      is: 'td-projectchooser',
      properties: {
        callback:{
          type:Function
        }
      },
      ready: function () {
        var T = this;
        T.searchString = '';
        T.allProjects = [];
        T.projectSearchResults = T.allProjects.slice();
        tasks.projects.fetchAll().then(function (projects) {
          T.allProjects = projects;
          T.projectSearchResults = T.allProjects.slice();
        });
      },
      show: function () {
        var T = this;
        T.$.projectSearchDialog.open();
        setTimeout(function () {
          T.$.filterInput.$.input.focus();
        },100);
      },
      choose: function (e) {
        this.$.projectSearchDialog.close();
        this.fire('select', {id:e.target.itemId, name:e.target.itemName} )
      },
      itemFocusedChanged: function (e) {
        this.$.filterInput.value = e.target.itemName;
      },
      filter:function () {
        var val = this.searchString;
        if (!val) {
          this.projectSearchResults = this.allProjects.slice();
          return;
        }
        val = escapeRegExp(val);
        var startRegExp = new RegExp('^'+val,"ig");
        var innerRegExp = new RegExp('\\s'+val,"ig");
        this.projectSearchResults = _.filter(this.allProjects, function (p) {
          return (startRegExp.test(p.name) || innerRegExp.test(p.name));
        });
      },
      searchKeyUp:function (e) {
        var T = this;
        if (e.code == 'ArrowDown') {
          if (this.$.filterResults.items.length) {
            this.$.filterResults.items[0].focus();
          }
        } else {
          this.searchString = e.target.inputElement.value;
          this.filter();
        }
      },
      patchOverlay: function (e) {
        if (e.target.withBackdrop) {
          try {
            e.target.backdropElement.parentNode.insertBefore(e.target.parentNode, e.target.backdropElement);
          } catch (exc) {

          }
        }
      },
    });
  </script>

</dom-module>

<dom-module id="td-project-select">

  <template>
    <style>
      .hidden {
        display: none;
      }
      .content {
        position: relative;
      }
      .content * {
        cursor:pointer;
      }
    </style>
    <div class="content">
      <paper-ripple></paper-ripple>
      <paper-input-container always-float-label on-tap="showSearchProjectDialog">
        <label>[[label]]</label>
        <input is="iron-input" value="{{projectname}}" disabled/>
        <iron-icon suffix id="clearIcon" class$="[[clearIconHiddenClass]]" icon="icons:clear" on-tap="clearSearchResults"></iron-icon>
        <iron-icon suffix icon="icons:search"></iron-icon>
      </paper-input-container>
    </div>
  </template>

  <script type="text/javascript">
  Polymer({
    is:'td-project-select',
    properties: {
      value: {
        type:Number,
        notify:true
      },
      projectname: {
        type:String,
        notify:true
      },
      label: {
        type:String,
        notify:false
      },
      empty: {
        type:String,
        notify:false
      }
    },
    ready:function () {
      this.projectname = this.empty ? this.empty: "";
      this.clearIconHiddenClass = 'hidden';
    },
    clearSearchResults: function (e) {
      this.value = null;
      this.projectname = this.empty ? this.empty: "";
      this.clearIconHiddenClass = 'hidden';
      e.stopPropagation();
    },
    showSearchProjectDialog:function (event) {
      var searchDialog = new TDProjectChooser();
      var T = this;
      searchDialog.addEventListener('select', function (e) {
        var input = _.find(event.target.parentNode.childNodes, function (el) {
          return el.tagName=="INPUT";
        });
        var changed = (T.value != e.detail.id)
        T.value = e.detail.id;
        T.projectname = e.detail.name;
        if (T.empty) {
          T.clearIconHiddenClass = '';
        }
        searchDialog.remove();
        if (changed) T.fire('change');
      });
      document.body.appendChild(searchDialog);
      searchDialog.show();
    },
  })
  </script>
</dom-module>
