<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="td-tasklistitem">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .taskIcon {
        display: inline-block;
        text-align:center;
        line-height: 40px;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      .taskIcon.priority10 { background: var(--td-priority-color-10) }
      .taskIcon.priority3 { background: var(--td-priority-color-3) }
      .taskIcon.priority4 { background: var(--td-priority-color-4) }
      .taskIcon.priority5 { background: var(--td-priority-color-5) }
      .taskIcon.priority6 { background: var(--td-priority-color-6) }
      .iconBadge {
        --paper-badge-background:none;
        --paper-badge-text-color:var(--paper-teal-300);
        --paper-badge-width:40px;
        --paper-badge-height:40px;
      }
      .iconBadge iron-icon {
        width:40px;
        height: 40px;
      }
      .trackerIcon {
        --iron-icon-fill-color: var(--paper-grey-500);
        --iron-icon-width:16px;
        --iron-icon-height:16px;
      }
    </style>

    
    <paper-icon-item>
      <paper-ripple></paper-ripple>
      <div class$="taskIcon [[iconClass]]" item-icon>
        <iron-icon icon="[[statusIcon]]" style="color:#fff"></iron-icon>
      </div>
      <paper-item-body two-line>
        <a href="/task-info/{{data.id}}">
          <div>[[data.subject]]</div>
        </a>
        <div secondary>
          <template is="dom-if" if="statusIcon">
            <iron-icon class="trackerIcon" icon="[[trackerIcon]]"></iron-icon>
          </template>
          [[data.project.name]]
        </div>
      </paper-item-body>
    </paper-icon-item>


  </template>

  <script>
    Polymer({
      is: 'td-tasklistitem',
      properties: {
          data: {
            type:Object,
            observer:'dataChanged'
          }
      },
      ready: function () {
      },
      dataChanged: function (data) {
        if (data.priority) {
          this.iconClass = 'priority'+data.priority.id;
        }
        if (data.tracker) {
          this.trackerIcon = tasks.trackers[data.tracker.id] ? tasks.trackers[data.tracker.id].icon : false;
        }
        if (data.status) {
          this.statusIcon = tasks.statuses[data.status.id] ? tasks.statuses[data.status.id].icon : false;
        }
      },
      formatDate : function (val) {
        var d = moment(val);
        moment.locale("ru");
        return d.format("ll");
      },
      formatStatus : function (val) {
        return "Завершено";
      },
      formatTracker : function (val) {
        return "Defect";
      }


    });
  </script>
</dom-module>
